:root {
    --blanco: #fff;
    --oscuro: #212121;
    --primario: #FFC107;
    --primarioOscuro: #856400;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;

    --fuentePrincipal: 'Staatliches', cursive;
}

/* Globales */
html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}



body{
    font-size: 16px; /* 1rem = 10px */
    background-color: rgb(186, 112, 0);
}
p{
    font-size: 1.8rem;
    font-family: var(--fuentePrincipal);
    /*font-family: Arial, Helvetica, sans-serif;*/
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}

h1,h2,h3,h4{
    text-align: center;
    color: var(--blanco);
    font-family: var(--fuentePrincipal);
    line-height: 1.5;
}
h1{
    font-size: 3rem;
    font-weight: 300;
    padding: 2rem;
    text-align: center;
    box-shadow: 2px 2px 5px rgb(132, 80, 2);
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
h4{
    font-size: 2rem;
    font-weight: 400;
}





/* Header */

header{
    position: static;
}



/* Navegación*/

nav{
    display: flex;
    justify-content: space-evenly;   
}

nav a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 500;
    font-family: cursive;
    margin: 1rem;
    color: var(--blanco);
}

nav a:active{
    color: var(--oscuro);
}



/* Main */

.title{
    text-align: center;
    margin-bottom: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    font-weight: 400;
    border: 1px solid rgb(132, 81, 3);
    box-shadow: 5px 5px 10px rgb(132, 80, 2);
}


.contenedor-articulo{
    display: flex;
    justify-content: center;
    margin: 0 5rem;
}



.logo{
    width: 15rem;
}



section{
    margin: 2rem;
    display: flex;        
    align-items: start;
    flex-direction: column;
}

article{
    border-bottom: 1px solid var(--primario);
}
article *{
    margin: 1rem;
    text-align: start;
}


/* Footer */

.footer{
    background-color: var(--primarioOscuro);
    text-align: center;
    padding: 1rem;
}
.footer>p{
    color: var(--blanco);
    font-weight: 400;
}





/* Reglas */


.desc{
    text-align: center;
    margin-bottom: 2rem;
}


.contenedor-reglas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5rem;
}
.contenedor-reglas h4{
    text-align: start;
    margin-bottom: 1rem;
    font-weight: 700;
}

ol li{
    margin-left: 2rem;
    margin-bottom: 2rem;
}

li{
    margin-bottom: 1rem;
    color: var(--blanco);
    font-weight: 700;
}
li p{
    font-weight: 400;
}

.lista-alfabetica{
    list-style-type: lower-alpha;
    font-size: 1.5rem;
}
.lista-alfabetica li{
    margin-bottom: 1rem;
}



ul li{
    margin-left: 4rem;
}



/* Games */

.contenedor-games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem 5rem;

}


.contenedor-tabla{
    display: flex;
    justify-content: center;
    color: var(--blanco);
    margin: 3rem;
    font-size: 2rem;
}

table{
    text-align: center;
}

th,td{
    padding: 0.6rem;
}


.contactos{
    display: flex;
    justify-content: space-between;
}



